body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rectangle {
  display: inline-block;
  width: 150px;
  height: 150px;
  background: gray;
}

.register {
  max-width: 600px;
  margin: 0px auto;
  text-align: left;
  
}
.menu {
  max-width: 300px;
  padding: 5px;
  text-align: left;
}
.product {
  max-width: 500px;
  padding: 5px;
  text-align: left;
}
.register input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0px;
  box-sizing:border-box;
  display: block;
}

.register button{
  background-color: #384257;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: 20px 0;
}